@theme default inline {
  --color-primary: oklch(62.7% 0.265 303.9);
  --color-primary-50: oklch(97.7% 0.014 308.299);
  --color-primary-100: oklch(94.6% 0.033 307.174);
  --color-primary-200: oklch(90.2% 0.063 306.703);
  --color-primary-300: oklch(82.7% 0.119 306.383);
  --color-primary-400: oklch(71.4% 0.203 305.504);
  --color-primary-500: oklch(62.7% 0.265 303.9);
  --color-primary-600: oklch(55.8% 0.288 302.321);
  --color-primary-700: oklch(49.6% 0.265 301.924);
  --color-primary-800: oklch(43.8% 0.218 303.724);
  --color-primary-900: oklch(38.1% 0.176 304.987);
  --color-primary-950: oklch(29.1% 0.149 302.717);
  --color-secondary: oklch(55.1% 0.027 264.364);
  --color-secondary-50: oklch(98.5% 0.002 247.839);
  --color-secondary-100: oklch(96.7% 0.003 264.542);
  --color-secondary-200: oklch(92.8% 0.006 264.531);
  --color-secondary-300: oklch(87.2% 0.01 258.338);
  --color-secondary-400: oklch(70.7% 0.022 261.325);
  --color-secondary-500: oklch(55.1% 0.027 264.364);
  --color-secondary-600: oklch(44.6% 0.03 256.802);
  --color-secondary-700: oklch(37.3% 0.034 259.733);
  --color-secondary-800: oklch(27.8% 0.033 256.848);
  --color-secondary-900: oklch(21% 0.034 264.665);
  --color-secondary-950: oklch(13% 0.028 261.692);
  --color-success: oklch(72.3% 0.219 149.579);
  --color-success-50: oklch(98.2% 0.018 155.826);
  --color-success-100: oklch(96.2% 0.044 156.743);
  --color-success-200: oklch(92.5% 0.084 155.995);
  --color-success-300: oklch(87.1% 0.15 154.449);
  --color-success-400: oklch(79.2% 0.209 151.711);
  --color-success-500: oklch(72.3% 0.219 149.579);
  --color-success-600: oklch(62.7% 0.194 149.214);
  --color-success-700: oklch(52.7% 0.154 150.069);
  --color-success-800: oklch(44.8% 0.119 151.328);
  --color-success-900: oklch(39.3% 0.095 152.535);
  --color-success-950: oklch(26.6% 0.065 152.934);
  --color-danger: oklch(63.7% 0.237 25.331);
  --color-danger-50: oklch(97.1% 0.013 17.38);
  --color-danger-100: oklch(93.6% 0.032 17.717);
  --color-danger-200: oklch(88.5% 0.062 18.334);
  --color-danger-300: oklch(80.8% 0.114 19.571);
  --color-danger-400: oklch(70.4% 0.191 22.216);
  --color-danger-500: oklch(63.7% 0.237 25.331);
  --color-danger-600: oklch(57.7% 0.245 27.325);
  --color-danger-700: oklch(50.5% 0.213 27.518);
  --color-danger-800: oklch(44.4% 0.177 26.899);
  --color-danger-900: oklch(39.6% 0.141 25.723);
  --color-danger-950: oklch(25.8% 0.092 26.042);
  --color-warning: oklch(76.9% 0.188 70.08);
  --color-warning-50: oklch(98.7% 0.022 95.277);
  --color-warning-100: oklch(96.2% 0.059 95.617);
  --color-warning-200: oklch(92.4% 0.12 95.746);
  --color-warning-300: oklch(87.9% 0.169 91.605);
  --color-warning-400: oklch(82.8% 0.189 84.429);
  --color-warning-500: oklch(76.9% 0.188 70.08);
  --color-warning-600: oklch(66.6% 0.179 58.318);
  --color-warning-700: oklch(55.5% 0.163 48.998);
  --color-warning-800: oklch(47.3% 0.137 46.201);
  --color-warning-900: oklch(41.4% 0.112 45.904);
  --color-warning-950: oklch(27.9% 0.077 45.635);
  --color-info: oklch(71.5% 0.143 215.221);
  --color-info-50: oklch(98.4% 0.019 200.873);
  --color-info-100: oklch(95.6% 0.045 203.388);
  --color-info-200: oklch(91.7% 0.08 205.041);
  --color-info-300: oklch(86.5% 0.127 207.078);
  --color-info-400: oklch(78.9% 0.154 211.53);
  --color-info-500: oklch(71.5% 0.143 215.221);
  --color-info-600: oklch(60.9% 0.126 221.723);
  --color-info-700: oklch(52% 0.105 223.128);
  --color-info-800: oklch(45% 0.085 224.283);
  --color-info-900: oklch(39.8% 0.07 227.392);
  --color-info-950: oklch(30.2% 0.056 229.695);
  --color-muted: oklch(55.2% 0.016 285.938);
  --color-muted-50: oklch(98.5% 0 0);
  --color-muted-100: oklch(96.7% 0.001 286.375);
  --color-muted-200: oklch(92% 0.004 286.32);
  --color-muted-300: oklch(87.1% 0.006 286.286);
  --color-muted-400: oklch(70.5% 0.015 286.067);
  --color-muted-500: oklch(55.2% 0.016 285.938);
  --color-muted-600: oklch(44.2% 0.017 285.786);
  --color-muted-700: oklch(37% 0.013 285.805);
  --color-muted-800: oklch(27.4% 0.006 286.033);
  --color-muted-900: oklch(21% 0.006 285.885);
  --color-muted-950: oklch(14.1% 0.005 285.823);
  --color-tertiary: oklch(62.3% 0.214 259.815);
  --color-tertiary-50: oklch(97% 0.014 254.604);
  --color-tertiary-100: oklch(93.2% 0.032 255.585);
  --color-tertiary-200: oklch(88.2% 0.059 254.128);
  --color-tertiary-300: oklch(80.9% 0.105 251.813);
  --color-tertiary-400: oklch(70.7% 0.165 254.624);
  --color-tertiary-500: oklch(62.3% 0.214 259.815);
  --color-tertiary-600: oklch(54.6% 0.245 262.881);
  --color-tertiary-700: oklch(48.8% 0.243 264.376);
  --color-tertiary-800: oklch(42.4% 0.199 265.638);
  --color-tertiary-900: oklch(37.9% 0.146 265.522);
  --color-tertiary-950: oklch(28.2% 0.091 267.935);
}